table,
td,
tr {
    border: 1px solid black;
}

.submitted {
    background-color: lightgreen;
    color: green
}

.notSubmitted {
    background-color: lightcoral;
    color: red
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.addAssignment {
    align-self: flex-end;
}

.assignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.assignment-list {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 10px;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.assignment-list {
    max-height: 80vh;
    overflow-y: auto;
}