<main class="container">

    <mat-list class="assignment-list"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
        @for (item of assignments; track item.name) {
        <nav>
            <div class="assignment">
                <h3 mat-subheader>{{item.dueDate | date:'mediumDate'}}</h3>
                
                <a routerLink="/assignments/{{item.id}}" (click)="clickedAssignment(item)">
                @if (!item.submitted){
                <mat-list-item appNotSubmitted>
                    The assignment '{{item.name}}' hasn't been submitted.
                </mat-list-item>
                }
                @else {
                <mat-list-item appSubmitted>
                    The assignment '{{item.name}}' has been submitted.
                </mat-list-item>
                }
                <mat-divider></mat-divider>
                </a>
            </div>
        </nav>
        }

        @if (isLoading) {
            <div class="loading-indicator">
                <mat-progress-spinner diameter="40"></mat-progress-spinner>
            </div>
        }
    </mat-list>

</main>