@if (transmittedAssignment){
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title> Assignment name: {{ transmittedAssignment.name }}</mat-card-title>
            <mat-card-subtitle> Due date: {{ transmittedAssignment.dueDate | date: 'mediumDate' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions id="bottom">
            @if (!transmittedAssignment.submitted) {
                <mat-checkbox (click)="transmittedAssignment.submitted = true;">
                   Submitted
                </mat-checkbox>
            }
            <nav><a [routerLink]="['/assignment',transmittedAssignment.id]">
                <button mat-stroked-button color="primary">
                Edit
                </button>
            </a></nav>
            <button mat-flat-button color="accent" id="deleteButton" (click)="onDeleteAssignment()">DELETE</button>
        </mat-card-actions>
    </mat-card>
}