@if (transmittedAssignment){
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title> Assignment name: {{ transmittedAssignment.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>{{ transmittedAssignment.dueDate | date: 'dd/mm/yyyy' }}</mat-card-subtitle>

        @if (transmittedAssignment.submitted === false) {
            <mat-checkbox (click)="transmittedAssignment.submitted = true;">
                Submit project
            </mat-checkbox>
        }

    </mat-card>
}