mat-card-subtitle {
    padding-left: 2%;
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#deleteButton {
    background-color: red;
    color: white;
}

#deleteButton:hover {
    background-color: darkred;
}