@if (transmittedAssignment){
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <h3>Assignment : {{ transmittedAssignment.name }}</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
        Due date : {{ transmittedAssignment.dueDate | date: 'mediumDate' }}
    </mat-card-subtitle>

    <mat-card-actions id="actions">
        <div class="buttons-div">
            @if (isAdmin()) {
                <button mat-stroked-button (click)="onClickEdit()" class="Edit-button"> Edit </button>
                <button mat-stroked-button (click)="onDelete()" class="Delete-button" color="warn"> Delete </button>
            }
            @if (isTeacher()){
                <button mat-stroked-button class="Grade-button"> Grade </button>
            }
            @if (isStudent()) {
                <!-- Check if the assignment is already submitted y getting assignment id matching with a grade -->
                This assignment is not submitted yet.
                <button mat-stroked-button class="Submit-button" (click)="onSubmittedAssignment()"> Submit </button>
            }
        </div>
    </mat-card-actions>

</mat-card>
}

@else {This assignment doesn't exist, please go back to the previous page}